.select{
  width: 794px;
  margin: 100px auto 14px;
  font-size: 12px;
  color: #545147;
  text-align: end;
}
.select-one, .select-two, .select-three{
  margin-right: 6px;
  margin-left: 21px;
}

.qa-table{
  width: 794px;
  margin:auto;
  margin-bottom: 300px;
  color: #545147; font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}
.qa-table thead{
  background-color: #ebebeb;
}

.qa-table th{
  height: 44px;
  border-top: 2px solid #545147;
  border-bottom:1px solid #545147 ;
}
.qa-table td{
  height: 44px;
  border-bottom: 1px solid #c4c4c4;
}

#num{width: 67px;}
#name{width: 208.5px}
#date{width: 188.5px;}
#re-sample{width: 99.25px;}
#co-sample{width: 99.25px;}
#state{width: 69.475px;}
#user{width: 49.625px;}
#team{width: 49.625px;}