header {
  position: fixed;
  width: 100%;
  background-color: #fba92f;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}
header + * {
  padding-top: 80px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px; height: 80px;
  margin: 0 auto;
  position: relative;
}

.header_logo {
  width: 250px;
}

.info-nav > ul {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.info-nav > ul .header-info {
  width: 40px;
  height: 40px;
}
.info-nav > ul .login {
  display: block;
  width: 75px;
  height: 29px;

  font-size: 23px;
  font-weight: 600;
  text-align: center;
  color: #545147;
}
.info-nav > ul .faq {
  width: 46px;
  height: 29px;

  font-size: 23px;
  font-weight: 600;
  text-align: center;
  color: #545147;
}
