.guide-section-title{
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0 20px;
}

.guide-section-list{
    margin-bottom: 50px;
}

.guide-section-list li{
    line-height: 1.5;
    list-style-type: decimal;
}